* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgba(26, 28, 37, 0.952);
}

header {
  background: black;
  display: flex;
  width: 100%;
  height: 100px;
}

.titulo {
  margin-top: 1%;
  margin-left: 35%;
}

.nome-titulo {
  margin-top: 1%;
  color: red;
}

.imgHeader {
  width: 130px;
  height: 100px;
}

main {
  width: 100%;
}

.conteudo {
  width: 60%;
  margin: 30px auto;
  text-align: center;
  border: rgb(16, 14, 31) solid 3px;
  border-radius: 10px;
  background: rgb(43, 43, 66);
}

#intro {
  font-size: 20px;
}

#data {
  text-align: center;
  width: 200px;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(34, 23, 39);
}

#dataBtn {
  margin: 30px 0;
}

button {
  background: rgb(40, 27, 46);
  border-radius: 1000px;
  padding: 9px 18px;
  color: white;
  display: inline-block;
  font: normal bold 17px/1 "Calibri", sans-serif;
  text-align: center;
}

#imagem {
  margin: 30px 0 5px 0;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.esconder {
  display: none;
}

#video {
  margin: 30px 0 5px 0;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.texto {
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  width: 50%;
  font-weight: bold;
  margin: 5px auto;
  padding: 20px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 50px;
  color: white;
  align-items: center;
  padding: 5px;
}
